.node-name { 
    margin:0; 
    padding:0; 
    font-family: 'Comic Sans MS'; /* 'Raleway' */
    text-align: center;
}

.mentorline {
    padding: 8px;
    border: 10px solid #edc864; 
    border-radius: 35px;
    box-sizing: content-box;        /* Override bootstrap border-box */
}

.line-header {
    padding-top: 30px;
    width: 200px;
    height: 50px;
}

.line-name {
    padding-top: 20px;
    height: 35px;
}

.abbabg-line {
    border: 10px solid #1692a8;
}

.bottle-flip-line {
    border: 10px solid #6ecfe0;
}

.cinema-line {
    border: 10px solid #830707;
}

.f-boy-line {
    border: 10px solid #0c4f15; 
}

.indecisive-line {
}

.matcha-line {
    border: 10px solid #33ff99;
}

.ninja-line {
}

.sleepy-line {
    border: 10px solid #f5eacb;
}

.smasher-line {
    border: 10px solid #f53232
}

.virus-line {
    border: 10px solid #ed0c97
}

.weenie-line {
}

.wuju-line {
    border: 10px solid #6a1b8f;
}

/* table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
caption,th { 
    text-align:left; 
} */

/* h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; } */
q:before,q:after { content:''; }
/* abbr,acronym { border:0; } */

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 1400px; margin: 5px; width: 100%; }
.Treant > .node img { width: 120px; height: 120px; border-radius: 60px;}

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed { background-color: #c9f7c8; }
.Treant .node.collapsed .collapse-switch { background: none; }
